<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <title>Enter OTP</title>
    <meta name="description" content="slick Login">
    <meta name="author" content="Webdesigntuts+">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/otpStyle.css') }}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
    <!-- <script type="text/javascript" src="placeholder.js"></script> -->
</head>
 
<body>
    <form id="slick-login" action="otpProcess" method="POST">
        <div style="margin: 16px; font-size: 1vw; color: white;">Calculated score : {{ score1 }}</div>
        <!-- <label name="calculated" id="calculated" class="placeholder" placeholder=""> --> 

        <div style="margin: 16px; font-size: 1vw; color: white;">Model score : {{ score2 }}</div>
        <!-- <label name="model" id="model" class="placeholder" placeholder="">  -->

        <div style="margin: 16px; font-size: 1vw; color: white;">Result : {{ judgment }}</div>
        <!-- <label name="pass_fail" id="pass_fail" class="placeholder" placeholder=""> {{ judgment }} -->
    </form>
    <!-- <p>{{ score1 }}</p>
    <p>{{ score2 }}</p>
    <p>{{ judgment }}</p> -->
</body>
 
</html>

