<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <title>Slick Login</title>
    <meta name="description" content="slick Login">
    <meta name="author" content="Webdesigntuts+">
    <link rel="stylesheet" type="text/css" href="../static/css/otpStyle.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
    <script type="text/javascript" src="placeholder.js"></script>
</head>
 
<body>
    <form id="slick-login">
        <label for="password">Enter OTP</label><input type="password" name="otp" id="otp" class="placeholder" placeholder="Enter OTP">
        <input type="submit" value="submit">
    </form>
</body>
 
</html>

